.vagrant/
vendor/
config/development.config.php
data/cache/*
!data/cache/.gitkeep
phpunit.xml
ubuntu-xenial-16.04-cloudimg-console.log
/.vs
/CMSZend.phpproj
*.phpproj
/CMSZend.sln
*.sln
/PHPWebProject1/.vs/PHPWebProject1/v15
